:root {
    --color-primary: #070020;
    --color-secondary: #FFF9EB;
    --color-tertiary: #fda048;
    --color-button: #000152;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}